In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Answer : A database is systematic collection of structured data and information that is stored electronically in 
         computer system. It is designed to store and manage data efficiently , retrive , manipulate large ammount
         of data.
        
         Difference between SQL and NoSQL :
         1. In SQL data stores in row and columns it stores data in structured way. In NoSQL data store in the key-value
            pair , Document, it store data schemeless.
         2. SQL uses SQL query language, which is stadard language which is used for managing the data. NoSQL has their
            own specific languages for managing the data.
         3. SQL use for handling structured data and NoSQL used for handling non-structurd data.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Answer : Full form of DDL is data definition language it is part of SQL it used to define and manage structure of 
         database. DDL used to creat, define , modify and delete database object such as tables, indexes, views 
         and constraints.
        
        CREATE : The CREAT statement is used to creat new database object such as table, indexes, view, and constraints.
                 it is define the structure , column and constraints for the object being created.
        Example: Creating a table named "student" with column for roll number, name and marks obtain in exam.
        code:
            CREATE TABLE student(
                ROLL_NUMBER INT PRIMARY KEY,
                Name VARCHAR(50),
                Marks INT
            );
            
            
        DROP : It is used to delet  permanentlya exiting database and along with the database all data associate with the 
               databse is also deleted.
        Example :deteting student tabel.
        code :
            DROP TABLE student;
            
            
        ALTER : The ALTER statement is used to modify the structure of an exiting database object such as table, index,
                constrait. it used to add ,drop, modify a column .
        Example : Adding age in the student table.
        code :
            ALTER TABLE student
            ADD age INT;
            
        
        TRUNCATE : The TRUNCATE statement is used to remove all the row from a database while keeping table structure
                   intact. it is faster than delet.
        Example :  Truncating the student table to remove all data.
        code : 
            TRUNCATE TABLE student;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Answer : DML stands for Data manipulation language it is subset of SQL it is used to retrive and manipulate the data
         within a database. DML is used for insert , update and delete the data in a data base.
         
        INSERT : The insert statemnt is used to insert new record or a table in a database. it specify the name and 
                 the values to be inserted into the corresponding columns.
        Example :
            INSERT INTO student(ROLL_NUMBER, Name , Marks, Age)
            VALUES (23, 'pwskills', 89, 18)
            
            
        UPDATE : The UPDATE statement is used to modify the exiting record or data in the table it specify the table
                 name , column and where in case of updating specific row.
        Example :
            UPDATE student
            SET Marks = 90
            WHERE Name = 'pwsills'
            
        DELETE : the DELETE statement is used to delete the exiting record or table from a table. it specify the 
                 table name and include WHERE to specify the condition for deleting the specific row.
        Example :
            DELETE FROM student
            WHERE Marks < 50

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Answer : DQL stands for data query language. it is subset of SQL that specificlly deals with retrieving data from 
         data base. DQL commonds are used to perform queries and fetch data from one or more data base.
    
        SELECT : The most common DQL command is SELECT which is used to data retrieval from database table. The
                 select statement allow you to specify the columns you want to retriev and apply various condition
                 and filtration to refine your query.
                
        code : 
            SElECT Name, ROLL_NUMBER
            FROM student
            WHERE age = 18 AND Marks >50
        
        above query will give name and roll number from student table which full fill the given condition.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Answer : Primary Key : Primary key is a columns or set of columns in the database that uniquely identifies each 
                       row or record in the table. primary key insures the uniqueness of data in data base.
         
         Foreign Key : A Foreign key is column or set of column in the database table that establishes a link
                       or relationship between two tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Answer : Python code to connect MySQL :

import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc"
    password = "password"
    )
mycursor = mydb.curhor()
mydb.execute("CREATE DATABSE my_database")
mydb.close()

cursor() : it is function which acts like a pointer which poits data which is present in a table. with the help
           of cursor we can enter data in a table or retriev from the table.
    
excute() : it is a fuction which is used to peform different - different query in a database object like creating,
           database, creating tables , insert data.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Answr : The order of execution of SQL clause in SQL :
        1. FROM clause
        2. WHERE clause
        3. GROUP BY clause
        4. HAVING clause
        5. SELECT clause
        6. ORDER BY clause
        7. LIMIT / OFFSET clauses